@model IEnumerable<Team9_winxshop.Models.SanPham>
@using Team9_winxshop.Models

@{
    ViewBag.Title = "About";
}
<div id="preloder">
    <div class="loader"></div>
</div>
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    winxshop@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +65 11.188.888
                </div>
            </div>
            <div class="ht-right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="login-panel">Đăng xuất</a>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")" class="login-panel"><i class="fa fa-user"></i>Đăng nhập</a>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href=".@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/assets/img/logo.jpg")" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <form action="@Url.Action("Search", "SanPhams")" method="get">
                        <div class="advanced-search" style="width: 500px;">
                            <div class="input-group">
                                <input type="text" maxlength="30" name="Keyword" placeholder="Nhập sản phẩm bạn muốn tìm kiếm">
                                <button type="submit" style="right: -200px;"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="cart-icon">
                            <a href="@Url.Action("Index", "GioHangs")">
                                <i class="icon_bag_alt"></i>
                                <span>@((Session["ShoppingCart"] as List<ChiTietGioHang>)?.Count.ToString()) </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>All departments</span>
                    <form action="@Url.Action("Search", "SanPhams")" method="get">
                        <ul class="depart-hover">
                            <li><button type="submit" name="Keyword" value="Nữ" style="display: block; font-size: 16px; color: #e7ab3c; padding-left: 40px; padding-top: 16px; padding-right: 30px; border: none; background-color: #fff">Thời trang nữ</button></li>
                            <li><button type="submit" name="Keyword" value="Nam" style="display: block; font-size: 16px; color: #e7ab3c; padding-left: 40px; padding-top: 16px; padding-right: 30px; border: none; background-color: #fff">Thời trang nam</button></li>
                        </ul>
                    </form>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("Index2", "SanPhams")">Sản phẩm</a></li>
                    <li class="active"><a href="@Url.Action("About", "Home")">Về Winxshop</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->

<div class="container py-lg-5">
    <div class="welcome-grids row">
        <div class="col-lg-6 mb-lg-0 mb-5">
            <h3 class="hny-title">
                Về <span>Winx</span>shop
            </h3>
            <p class="my-4">
                WINX mang lại cho khách hàng những trải nghiệm mua sắm thời trang hàng hiệu trực tuyến thú vị từ các thương hiệu thời trang quốc tế và trong nước. Bạn có thể tìm thấy những bộ trang phục mình muốn từ những bộ đồ ở nhà thật thoải mái hay tự tin trong những bộ trang phục công sở phù hợp.
            </p>
            <p class="mb-4">Winx là một website chuyên bán những sản phẩm đạt yêu cầu về chất lượng cũng như mong muốn mang lại cho khách hàng một trải nghiệm đáng nhớ.</p>
            <div class="read">
                <a href="@Url.Action("Index2", "SanPhams")" class="btn btn-default" style="border-color: #e7ab3c;">Shop Now</a>
            </div>
        </div>
        <div class="col-lg-6 welcome-image">
            <img src="@Url.Content("~/assets/img/About1.jpg")" class="img-fluid" alt="">
        </div>

    </div>

</div>
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href=".@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/assets/img/logo.jpg")" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Thông tin</h5>
                    <ul>
                        <li><a href="@Url.Action("About", "Home")">Về Winxshop</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="payment-pic">
                        <img src="@Url.Content("~/assets/img/payment-method.png")" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>