@model Team9_winxshop.Models.SanPham

@{
    ViewBag.Title = "Delete";
}

<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    winxshop@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +65 11.188.888
                </div>
            </div>
            <div class="ht-right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="login-panel">Log off</a>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")" class="login-panel"><i class="fa fa-user"></i>Login</a>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/assets/img/logo.png")" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<h2>Xóa sản phẩm</h2>

<div>
    <h4>@Model.TenSP (@Model.MaSP)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tên sản phẩm</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            <label>Size</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            <label>Số lượng</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            <label>Đơn giá</label>
        </dt>

        <dd>
            @Model.DonGia.ToString("N0") vnđ
        </dd>

        <dt>
            <label>Màu</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mau)
        </dd>

        <dt>
            <label>Hình ảnh</label>
        </dt>

        <dd>
            <img src="@Url.Content(Model.HinhAnh)" style="width: 100px; height: 120px" />
        </dd>

        <dt>
            <label>Loại sản phẩm</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoaiSP)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="border-color: #e7ab3c;"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
