@model Team9_winxshop.Models.SanPham

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @Model.DonGia.ToString("N0") vnđ
        </dd>

        <dt>
            Màu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mau)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Url.Content(Model.HinhAnh)" style="width: 100px; height: 120px" />
        </dd>

        <dt>
            Loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoaiSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
