@model Team9_winxshop.Models.SanPham
@using Team9_winxshop.Models

@{
    ViewBag.Title = "Details";
}
<body>
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        winxshop@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +65 11.188.888
                    </div>
                </div>
                <div class="ht-right">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="login-panel">Đăng xuất</a>
                        }
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="login-panel"><i class="fa fa-user"></i>Đăng nhập</a>
                    }
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="@Url.Content("~/assets/img/logo.jpg")" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <form action="@Url.Action("Search", "SanPhams")" method="get">
                            <div class="advanced-search" style="width: 500px;">
                                <div class="input-group">
                                    <input type="text" maxlength="30" name="Keyword" placeholder="Nhập sản phẩm bạn muốn tìm kiếm">
                                    <button type="submit" style="right: -200px;"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="cart-icon">
                                <a href="@Url.Action("Index", "GioHangs")">
                                    <i class="icon_bag_alt"></i>
                                    <span>@((Session["ShoppingCart"] as List<ChiTietGioHang>)?.Count.ToString())</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All departments</span>
                        <form action="@Url.Action("Search", "SanPhams")" method="get">
                            <ul class="depart-hover">
                                <li><button type="submit" name="Keyword" value="Nữ" style="display: block; font-size: 16px; color: #e7ab3c; padding-left: 40px; padding-top: 16px; padding-right: 30px; border: none; background-color: #fff">Thời trang nữ</button></li>
                                <li><button type="submit" name="Keyword" value="Nam" style="display: block; font-size: 16px; color: #e7ab3c; padding-left: 40px; padding-top: 16px; padding-right: 30px; border: none; background-color: #fff">Thời trang nam</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                        <li class="active"><a href="@Url.Action("Index2", "SanPhams")">Sản phẩm</a></li>
                        <li><a href="@Url.Action("About", "Home")">Về Winxshop</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Trang chủ</a>
                        <a href="@Url.Action("Index2", "SanPhams")"> Sản phẩm</a>
                        <span>@Model.TenSP</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-pic-zoom">
                                <img class="product-big-img" src="@Url.Content(Model.HinhAnh)" alt="">
                                <div class="zoom-icon">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details">
                                <div class="pd-title">
                                    <span>@Model.LoaiSanPham.TenLoaiSP</span>
                                    <h3>@Model.TenSP</h3>
                                </div>
                                <div class="pd-desc">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor sum dolor
                                        sit amet, consectetur adipisicing elit, sed do mod tempor
                                    </p>

                                </div>
                                <div class="pd-size-choose">
                                    <div class="sc-item">
                                        <input type="radio" id="xl-size">
                                        <label for="xl-size">@Model.Size</label>
                                    </div>
                                </div>
                                <form action="@Url.Action("Create", "GioHangs")" method="post">
                                    <input type="hidden" name="productId" value="@Model.MaSP" />
                                    @if (Model.SoLuong != 0)
                                    {
                                        <div class="pd-desc">
                                            <h4>@Model.DonGia.ToString("N0")@("đ")</h4>
                                        </div>
                                        <div class="quantity">
                                            <input name="quantity" type="number" value="1" min="1" max="@Model.SoLuong" />
                                            <input type="submit" class="primary-btn pd-cart" value="Thêm vào giỏ hàng" style="padding-right: 20px; padding-left: 20px; border-style: none; margin-left: 10px;" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="pd-desc">
                                            <h4 style="font-size: 20px">Sản phẩm này vẫn chưa được mở bán</h4>
                                        </div>
                                    }

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="product-tab">
                        <div class="tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">MÔ TẢ SẢN PHẨM</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-2" role="tab">CHI TIẾT</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-item-content">
                            <div class="tab-content">
                                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                    <div class="product-content">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <h5>Introduction</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                </p>
                                                <h5>Features</h5>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                </p>
                                            </div>
                                            <div class="col-lg-5">
                                                <img src="@Url.Content(Model.HinhAnh)" alt="" height="400px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                    <div class="specification-table">
                                        <table>
                                            <tr>
                                                <td class="p-catagory">Mã sản phẩm</td>
                                                <td>
                                                    <div class="p-code">@Model.MaSP</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Mã sản phẩm</td>
                                                <td>
                                                    <div class="p-stock">@Model.LoaiSanPham.TenLoaiSP</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Giá</td>
                                                <td>
                                                    <div class="p-price">@Model.DonGia.ToString("N0")@("đ")</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Số lượng</td>
                                                <td>
                                                    <div class="p-stock">@Model.SoLuong</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Size</td>
                                                <td>
                                                    <div class="p-size">@Model.Size</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Màu</td>
                                                <td>
                                                    <div class="p-size">@Model.Mau</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/img/logo.jpg")" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="@Url.Action("About", "Home")">Về Winxshop/a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="@Url.Content("~/assets/img/payment-method.png")" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
