@model IEnumerable<Team9_winxshop.Models.SanPham>
@using Team9_winxshop.Models

@{
    ViewBag.Title = "Home Page";
}

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        winxshop@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +65 11.188.888
                    </div>
                </div>
                <div class="ht-right">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="login-panel">Đăng xuất</a>
                        }
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="login-panel"><i class="fa fa-user"></i>Đăng nhập</a>
                    }
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="@Url.Content("~/assets/img/logo.jpg")" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <form action="@Url.Action("Search", "SanPhams")" method="get">
                            <div class="advanced-search" style="width: 500px;">
                                <div class="input-group">
                                    <input type="text" maxlength="30" name="Keyword" placeholder="Nhập sản phẩm bạn muốn tìm kiếm">
                                    <button type="submit" style="right: -200px;"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="cart-icon">
                                <a href="@Url.Action("Index", "GioHangs")">
                                    <i class="icon_bag_alt"></i>
                                    <span>@((Session["ShoppingCart"] as List<ChiTietGioHang>)?.Count.ToString()) </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All departments</span>
                        <form action="@Url.Action("Search", "SanPhams")" method="get">
                            <ul class="depart-hover">
                                <li><button type="submit" name="Keyword" value="NU" style="display: block; font-size: 16px; color: #e7ab3c; padding-left: 40px; padding-top: 16px; padding-right: 30px; border: none; background-color: #fff">Thời trang nữ</button></li>
                                <li><button type="submit" name="Keyword" value="NAM" style="display: block; font-size: 16px; color: #e7ab3c; padding-left: 40px; padding-top: 16px; padding-right: 30px; border: none; background-color: #fff">Thời trang nam</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                        <li class="active"><a href="@Url.Action("Index2", "SanPhams")">Sản phẩm</a></li>
                        <li><a href="@Url.Action("About", "Home")">Về Winxshop</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Trang chủ</a>
                        <span>Sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title">Danh mục sản phẩm</h4>
                        <form action="@Url.Action("Search", "SanPhams")" method="get">
                            <ul class="filter-catagories">
                                <li><button type="submit" name="Keyword" value="Áo nam" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Áo nam</button></li>
                                <li><button type="submit" name="Keyword" value="Áo nữ" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Áo nữ</button></li>
                                <li><button type="submit" name="Keyword" value="Quần nam" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Quần nam</button></li>
                                <li><button type="submit" name="Keyword" value="Quần nữ" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Quần nữ</button></li>
                                <li><button type="submit" name="Keyword" value="Giầy nam" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Giầy nam</button></li>
                                <li><button type="submit" name="Keyword" value="Giầy nữ" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Giầy nữ</button></li>
                                <li><button type="submit" name="Keyword" value="Kính" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Kính mát</button></li>
                                <li><button type="submit" name="Keyword" value="Nón" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Nón</button></li>
                                <li><button type="submit" name="Keyword" value="Nhẫn" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Nhẫn</button></li>
                                <li><button type="submit" name="Keyword" value="Đồng hồ" style="display: block; font-size: 20px; color: #e7ab3c;border: none; background-color: #fff">Đồng hồ</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <h3 style="color: #252525; padding-bottom: 15px; font-weight: 700;">Danh sách sản phẩm</h3>
                    <div class="product-list">
                        <div class="row">
                            @foreach (var product in Model)
                            {
                                <div class="col-lg-4 col-sm-6">
                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <a href="@Url.Action("Details", new { id = product.MaSP })">
                                                <img src="@Url.Content(product.HinhAnh)" alt="">
                                            </a>
                                            <ul>
                                                <li class="quick-view" style="background-color: #e7ab3c;"><a href="@Url.Action("Details", "SanPhams",new { id = product.MaSP })" style="color: #ffffff">+ Quick View</a></li>
                                            </ul>
                                        </div>
                                        <div class="pi-text">
                                            <div class="catagory-name">@product.LoaiSanPham.TenLoaiSP</div>
                                            <a href="@Url.Action("Details", new { id = product.MaSP })">
                                                <h5>@product.TenSP</h5>
                                            </a>
                                            <div class="product-price">
                                                @product.DonGia.ToString("N0")@("đ")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/img/logo.jpg")" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="@Url.Action("About", "Home")">Về Winxshop</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="@Url.Content("~/assets/img/payment-method.png")" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
</body>