@model IEnumerable<Team9_winxshop.Models.SanPham>

@{
    ViewBag.Title = "Index";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    winxshop@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +65 11.188.888
                </div>
            </div>
            <div class="ht-right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="login-panel">Log off</a>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")" class="login-panel"><i class="fa fa-user"></i>Login</a>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/assets/img/logo.png")" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search" style="width: 300px;">
                        <div class="input-group">
                            <input type="text" placeholder="What do you need?">
                            <button type="button" style="right: -100px"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="cart-icon">
                            <a href="#">
                                <i class="icon_bag_alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>All departments</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="#">Women’s Clothing</a></li>
                        <li><a href="#">Men’s Clothing</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index2", "SanPhams")">Shop</a></li>
                    <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                            <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                            <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>

<h2>Danh sách sản phẩm</h2>

<p>
    <a href="@Url.Action("Create")" style="">Thêm sản phẩm</a>
</p>
<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Size
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Màu
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Loại sản phẩm
        </th>
        <th></th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>
                @product.TenSP
            </td>
            <td>
                @product.Size
            </td>
            <td>
                @product.SoLuong
            </td>
            <td>
                @product.DonGia.ToString("N0")@("đ")
            </td>
            <td>
                @product.Mau
            </td>
            <td>
               <img src="@Url.Content(product.HinhAnh)" style="width: 70px; height: 80px" />
            </td>
            <td>
                @product.LoaiSanPham.TenLoaiSP
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = product.MaSP })">
                    <i class="fa fa-edit"></i>
                </a> |
                <a href="@Url.Action("Delete", new { id = product.MaSP })">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
